#!/usr/bin/env bash

<%- gpu = context.node_type.include?("vis") -%>

# Clean the environment
module purge

# Set working directory to home directory
cd "${HOME}"

#
# Launch Xfce Window Manager and Panel
#

(
  export SEND_256_COLORS_TO_REMOTE=1
  export XDG_CONFIG_HOME="<%= session.staged_root.join("config") %>"
  export XDG_DATA_HOME="<%= session.staged_root.join("share") %>"
  export XDG_CACHE_HOME="$(mktemp -d)"
  module restore
  set -x
  xfwm4 --compositor=off --daemon --sm-client-disable
  xsetroot -solid "#D3D3D3"
  xfsettingsd --sm-client-disable
  xfce4-panel --sm-client-disable
) &

#
# Start MATLAB
#

# Load the required environment
module load <%= context.versions %> 

# Launch MATLAB
<%- if context.node_type.include?("GPU") -%>
module list
set -x
vglrun matlab -desktop -nosoftwareopengl
<%- else -%>
module list
set -x
matlab -desktop
<%- end -%>

