# Batch Connect app configuration file
#
# @note Used to define the submitted cluster, title, description, and
#   hard-coded/user-defined attributes that make up this Batch Connect app.
<%-
  #cmd = "/usr/bin/sacctmgr show associations user=$USER partition=cf1,etna,nano1,es1,etna_gpu -P -n format=partition,account,qos  | sort | uniq"
  cmd = "/usr/bin/sacctmgr show associations user=$USER partition=cf1,nano1,es1,dirac1 -P -n format=partition,account,qos | sort | uniq "
  begin
    output, status = Open3.capture2e(cmd)
    if status.success?
      raw_data = output
    else
      raise output
    end
  rescue => e
    qos = []
    qerror = e.message.strip
  end
-%>

---

cluster: "lrc"

form:
  - desktop
  - job_name
  - slurm_partition
  - slurm_account
  - qos_name
  - num_nodes
  - num_cores
  - gres_value
  - bc_num_hours
  - user_email
  - raw_data
  - node_type

attributes:
  desktop: "xfce"
  node_type: "CPU"
  bc_num_hours:
    label: "Wall Clock Time"
    help: "The maximum number of hours your Jupyter session will run for. To save PCA credits or free up resources for your condo group members, you should delete your session when you are done."
    value: 1

  job_name:
    label: "Name of the Job"
    value: "OOD_desktop_"

  slurm_partition:
    label: "SLURM Partition"
    help: "The SLURM Partition in which you want to launch this Desktop session."
    widget: select
    required: true

  slurm_account:
    label: "SLURM Account/Project Name"
    help: "The SLURM account (i.e., the value of the -A or --account flag used when submitting a SLURM job)."
    widget: select

  qos_name:
    label: "SLURM QoS Name"
    help: "The QoS you want run under."
    widget: select

  num_nodes:
    label: "Number of Compute Nodes"
    help: "The number of nodes you want for your Desktop session."
    value: 1

  num_cores:
    label: "Number of CPU Cores per Node"
    help: "The number of CPU cores you want per node for your Desktop session."
    value: 1

  gres_value:
    label: "Number of GPUs"
    help: "The GRES value in the form 'x', where 'x' is the number of GPUs. "
    value: 1

  user_email:
    label: "Email Address (Optional)"
    help: "Enter your email address if you would like to receive an email when the session starts. Leave blank for no email."

  raw_data:
    label: "Account associations for use by JavaScript"
    widget: hidden_field
    value: "<%= raw_data %>"
