<%-
  walltime = (bc_num_hours.to_i * 60)
 
  node_type = "CPU"
  case slurm_partition
  when "es1"
      node_type = "GPU"
      gpu = (gres_value.blank? ? 1 : gres_value.to_i)
      ppn = (gres_value.blank? ? 2: to_i * 2)
      slurm_args = [ "--nodes", "1", "--ntasks", "#{ppn}", "--time", "#{walltime}", "--partition", "#{slurm_partition}", "--qos", "#{qos_name}", "--job-name", "#{job_name}", "--account", "#{slurm_account}", "--gres", "gpu:GRTX2080TI:#{gpu}" ]
  
 when "etna_gpu"
      node_type = "GPU"
      gpu = (gres_value.blank? ? 1 : gres_value.to_i)
      ppn = (gres_value.blank? ? 2: to_i * 2)
      slurm_args = [ "--nodes", "1","--ntasks", "#{ppn}", "--time", "#{walltime}", "--partition", "#{slurm_partition}", "--qos", "#{qos_name}", "--job-name", "#{job_name}", "--account", "#{slurm_account}", "--gres", "gpu:K80:#{gpu}"]
 # when "alsacc"
 #     ppn = num_cores.to_i
 #     memory = (ppn.to_i * 2000 )
 #     slurm_args = ["--nodes", "1", "--time", "#{walltime}", "--partition", "#{slurm_partition}", "--qos", "#{qos_name}", "--job-name", "#{job_name}", "--account", "#{slurm_account}", "--account", "#{slurm_account}", "--mem" , "#{memory} " ]
  end

  case node_type
  when  "CPU"
       slurm_args = ["--nodes", "#{num_nodes}", "--time", "#{walltime}", "--partition", "#{slurm_partition}", "--qos", "#{qos_name}", "--job-name", "#{job_name}", "--account", "#{slurm_account}", "--account", "#{slurm_account}"]
  end

%>
---
batch_connect:
  template: vnc
script:
  native:
  <%- slurm_args.each do |arg| %>
    - "<%= arg %>"
  <%- end %>
