# Job submission configuration file
#
---

#
# Configure the content of the job script for the batch job here
# @see http://www.rubydoc.info/gems/ood_core/OodCore/BatchConnect/Template
#
batch_connect:
  template: "vnc"

  # You can override the command used to query the hostname of the compute node
  # here
  #
  # @note It is **highly** recommended this be set in the global cluster
  #   configuration file so that all apps can take advantage of it by default
  #
  #set_host: "host=$(hostname -A | awk '{print $2}')"

#
# Configure the job script submission parameters for the batch job here
# @see http://www.rubydoc.info/gems/ood_core/OodCore/Job/Script
#
#script:
#  queue_name: "queue1"
#  accounting_id: "account1"
#  email_on_started: true
#  native: # ... array of command line arguments ...
script:
   <%- if user_email != "" %>
   - "--mail-user"
   - "<%= user_email %>"
   <%- end %>
   <%- if type_ofuse == "interactive" %>
   job_name: "OOD_VMD"
   queue_name: "ood_inter"
   qos: "lr_interactive"
   native:
     - "-n"
     - "<%= num_cores %>"
     - "-C"
     - "ood"
   <%- elsif type_ofuse == "interactive_gpu" %>
   job_name: "OOD_VMD_gpu"
   queue_name: "ood_inter"
   qos: "lr_interactive"
   native:
     - "--gres"
     - "gpu:1"
     - "-n"
     - "<%= num_cores %>"
     - "-C"
     - "ood_gpu"
   <%- else %>
   job_name: "<%= job_name %>"
   queue_name: "<%= slurm_partition %>"
   native:
     <%- if slurm_account != "" %>
     - "--account"
     - "<%= slurm_account %>"
     <%- end %>
     <%- if qos_name != "" %>
     - "--qos"
     - "<%= qos_name %>"
     <%- end %>
     <%- if gres_value != "" %>
     - "--gres"
     - "<%= gres_value %>"
     <%- end %>
     <%- if num_cores != "" %>
     - "--ntasks-per-node"
     - "<%= num_cores %>"
     <%- end %>
     - "-N"
     - "<%= num_nodes %>"
   <%- end %>
