<%-
  ppn = num_cores.blank? ? 1 : num_cores.to_i
#  nodes = bc_num_slots.blank? ? 1 : bc_num_slots.to_i
  gpu = num_gpus.blank? ? 1 : num_gpus.to_i
  
  case gpu
  when 1
       tasks = 2
  when 2
       tasks = 4
  when 3 
       tasks = 6
  when 4 
       tasks = 8 
  end
 
#  nc =  bc_num_slots.to_i
  
  case slurm_partition
  when "es1"
       node_type = "GPU"
  when "etna_gpu"
       node_type = "GPU"
  when "vulcan_gpu"
       node_type = "GPU"
  else
       node_type = "CPU"
  end
 
  case node_type
  when "CPU"
   slurm_args = [ "--nodes", "#{bc_num_slots}", "--cpus-per-task","#{ppn}", "--partition", "#{slurm_partition}", "--qos", "#{qos_name}", "--job-name", "#{job_name}", "--account", "#{bc_account}", "--exclude", "n0004.ood0"]
  when "GPU"
   slurm_args = [ "--nodes", "#{bc_num_slots}", "--partition", "#{slurm_partition}", "--qos", "#{qos_name}", "--job-name", "#{job_name}", "--account", "#{bc_account}", "--gres", "gpu:#{gpu}", "--ntasks", "#{tasks}"]
  end
%>
---
batch_connect:
  template: vnc
script:
  native:
  <%- slurm_args.each do |arg| %>
    - "<%= arg %>"
  <%- end %>
