# Batch Connect app configuration file
#
# @note Used to define the submitted cluster, title, description, and
#   hard-coded/user-defined attributes that make up this Batch Connect app.

<%-
  cmd = "/usr/bin/sacctmgr show assoc user=$USER -P -n format=partition | grep -v ood_inter | sort | uniq"
  begin
    output, status = Open3.capture2e(cmd)
    if status.success?
      partitions = output.split("\n")
    else
      raise output
    end
  rescue => e
    partitions = []
    perror = e.message.strip
  end
-%>

<%-
  cmd = "/usr/bin/sacctmgr show assoc user=$USER -P -n format=account | sort | uniq"
  begin
    output, status = Open3.capture2e(cmd)
    if status.success?
      accounts = output.split("\n")
    else
      raise output
    end
  rescue => e
    accounts = []
    aerror = e.message.strip
  end
-%>

<%-
  cmd = "/usr/bin/sacctmgr show assoc user=$USER -P -n format=qos | tr ',' '\n' | sort | uniq"
  begin
    output, status = Open3.capture2e(cmd)
    if status.success?
      qos = output.split("\n")
    else
      raise output
    end
  rescue => e
    qos = []
    qerror = e.message.strip
  end
-%>

<%-
  cmd = "/usr/bin/sacctmgr show assoc user=$USER -P partition=ood_inter -n format=account | tr ',' '\n' | sort | uniq"
  begin
    output, status = Open3.capture2e(cmd)
    if status.success?
      accounts_ood = output.split("\n")
    else
      raise output
    end
  rescue => e
    accounts_ood = []
    qerror = e.message.strip
  end
-%>

---

cluster: "lrc"
cacheable: "false"

form:
  - modules
  - extra_jupyter_args
  - type_ofuse
  - bc_num_hours
  - job_name
  - slurm_partition
  - slurm_account
  - slurm_account_ood
  - qos_name
  - num_nodes
  - num_cores
  - gres_value
  - user_email

attributes:
  modules: "python/3.7"
  extra_jupyter_args: '--notebook-dir=/ --NotebookApp.default_url=/tree/global/home/users/"${USER}"'

  type_ofuse:
    widget: "select"
    label: "Type of use"
    help: "Choose the mode of running your Jupyter Server"
    options:
      - [ "interactive_mode, for exploration", "interactive" ]
      - [ "interactive_mode_gpu, for exploration", "interactive_gpu" ]
      - [ "compute_mode", "batch" ]

  bc_num_hours:
    label: "Wall Clock Time"
    help: "How many hours do you want to run this Jupyter Server for ?"
    value: 1

  job_name:
    label: "Name of the job"
    value: "OOD_batch"
    
  slurm_partition:
    label: "SLURM Partition"
    help: "Choose the name of the SLURM Partition in which you want to launch this Jupyter Server"
    <%- if perror -%>
      <span class="text-danger">Error when parsing partitions:</span>
      ```
      <%= perror.gsub("\n", "\n     ") %>
      ```
    <%- end -%>
  <%- if partitions.blank? -%>
    widget: text_field
  <%- else -%>
    widget: select
    options:
    <%- partitions.each do |q| -%>
      - [ "<%= q %>", "<%= q %>" ]
    <%- end -%>
  <%- end -%>
    required: true

  slurm_account:
    label: "SLURM Project/Account Name"
    help: "For non Lawrencium partitions you can leave this blank."
    <%- if aerror -%>
      <span class="text-danger">Error when parsing accounts:</span>
      ```
      <%= aerror.gsub("\n", "\n     ") %>
      ```
    <%- end -%>
  <%- if accounts.blank? -%>
    widget: text_field
  <%- else -%>
    widget: select
    options:
    <%- accounts.each do |q| -%>
      - [ "<%= q %>", "<%= q %>" ]
    <%- end -%>
  <%- end -%>
  
  slurm_account_ood:
    label: "SLURM Project/Account Name"
    help: "For non Lawrencium partitions you can leave this blank."
    <%- if aerror -%>
      <span class="text-danger">Error when parsing accounts:</span>
      ```
      <%= aerror.gsub("\n", "\n     ") %>
      ```
    <%- end -%>
  <%- if accounts_ood.blank? -%>
    widget: text_field
  <%- else -%>
    widget: select
    options:
    <%- accounts_ood.each do |q| -%>
      - [ "<%= q %>", "<%= q %>" ]
    <%- end -%>
  <%- end -%>

  qos_name:
    label: "SLURM QoS Name"
    help: "Most users can leave it black for default assignment, Lawrencium Condo users want to specify their condo QoS name"
    <%- if qerror -%>
      <span class="text-danger">Error when parsing accounts:</span>
      ```
      <%= qerror.gsub("\n", "\n     ") %>
      ```
    <%- end -%>
  <%- if qos.blank? -%>
    widget: text_field
  <%- else -%>
    widget: select
    options:
    <%- qos.each do |q| -%>
      - [ "<%= q %>", "<%= q %>" ]
    <%- end -%>
  <%- end -%>

  num_nodes:
    label: "Number of Nodes"
    help: "Please specify the number of nodes you want for this Jupyter Server"
    value: 1

  num_cores:
    label: "Number of CPU cores per Node"
    help: "Please specify the number of CPU cores you want per node for this Jupyter Server"
    value: 1

  gres_value:
    label: "Number and type of GPUs"
    help: "You choose to run in a partition with GPUs. Please specify the GRES value i.e the number and type of GPUs you want for this Jupyter Server"

  user_email:
    label: "Email address (optional)"
    help: "Enter your email address if you would like to receive an email when the session starts. Leave blank for no email."

#  node_cpu_corecount:
#    label: "Number of Nodes/Cores"
#    help: "Please specify for the number of nodes (for batch mode) or cpu cores (interactive mode) you want for this Jupyter Server"
#    value: 1

